# Build results
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

# Rider / JetBrains
.idea/

# NuGet
*.nupkg
packages/
.nuget/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.bak

.fake